In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pycaret.classification import *

In [2]:
data = pd.read_excel("CreditRisk - edited.xlsx")
data.drop(columns = ["home_ownership_type_id", "Employment_Duration_Current_Employer_m"], inplace=True)
data.dropna(inplace=True)
data

,CreditGroup,PaymentHistory,AppliedAmount,MaxInterest,LoanDuration,MoPaymentDay,UseOfLoan,ApplicationDuration,ApplicationType,education_id,...,employment_status_id,work_experience,occupation_area,income_from_principal_employer,income_other,income_total,language_code,Age,Gender,LoanStatus
40,A,Active payment problems,115.0410,35.0,3,6,Other,1,Auction,Higher education,...,Unemployed,0,Other,500.000000,350.000000,850.000000,Estonian,36,Male,1
42,A,No previous payments problems,63.9116,30.0,2,24,Education,1,Auction,Secondary education,...,Unemployed,2,Other,0.000000,416.666667,416.666667,Estonian,19,Male,0
44,A,Active payment problems,102.2586,35.0,3,6,Other,2,Auction,Higher education,...,Unemployed,0,Other,500.000000,350.000000,850.000000,Estonian,36,Male,1
45,A,No previous payments problems,115.0410,49.0,1,20,Other,1,Auction,Basic education,...,Fully employed,2,Other,600.000000,125.000000,725.000000,Estonian,19,Male,1
47,A,No previous payments problems,319.5582,30.0,6,20,Education,10,Auction,Basic education,...,Fully employed,11,"Agriculture, forestry and fishing",666.666667,25.000000,691.666667,Estonian,31,Woman,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2227,A,No previous payments problems,1450.0000,18.0,24,16,Loan Consolidation,3,Auction,Secondary education,...,Fully employed,5,Other,700.000000,0.000000,700.000000,Estonian,24,Male,0
2228,A,Payments problems finished 6-12 m ago,500.0000,22.0,24,10,Vehicle,2,Quick auction,Basic education,...,Fully employed,5,"Agriculture, forestry and fishing",1315.000000,0.000000,1315.000000,Estonian,22,Male,1
2229,A,No previous payments problems,250.0000,12.0,9,4,Home Improvement,5,Quick auction,Higher education,...,Fully employed,12,Fice and insurance,1700.000000,0.000000,1700.000000,Estonian,33,Male,0
2230,A,No previous payments problems,400.0000,17.0,3,23,Home Improvement,4,Quick auction,Primary education,...,Fully employed,3,Other,730.000000,0.000000,730.000000,Estonian,27,Male,0
2231,A,No previous payments problems,1750.0000,15.0,24,12,Home Improvement,11,Quick auction,Basic education,...,Partially employed,12,Retail and wholesale,873.000000,0.000000,873.000000,Russian,40,Woman,0

In [22]:
clf = setup(data = data, 
            target = 'LoanStatus', 
            normalize = True, 
            low_variance_threshold=0.1, 
            remove_multicollinearity= True, 
            multicollinearity_threshold= 0.8,
            fix_imbalance = True)

In [23]:
best = compare_models()

Initiated  . . . . . . . . . . . . . . . . . .              16:22:17
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

In [15]:
print(best)

ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='gini', max_depth=None, max_features='sqrt',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_samples_leaf=1,
                     min_samples_split=2, min_weight_fraction_leaf=0.0,
                     monotonic_cst=None, n_estimators=100, n_jobs=-1,
                     oob_score=False, random_state=4883, verbose=0,
                     warm_start=False)

In [16]:
#Best model based on accuracy
best = create_model(best)

In [ ]:
#Logistic regression
lr = create_model('lr')

In [17]:
#Hyperparemeter tuning
best = tune_model(best)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [18]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [19]:
predict_model(best)

,CreditGroup,PaymentHistory,AppliedAmount,MaxInterest,LoanDuration,MoPaymentDay,UseOfLoan,ApplicationDuration,ApplicationType,education_id,...,occupation_area,income_from_principal_employer,income_other,income_total,language_code,Age,Gender,LoanStatus,prediction_label,prediction_score
1451,A,Payments problems finished 24-36m ago,383.469910,33.0,6,7,Home Improvement,3,Quick auction,Secondary education,...,"Agriculture, forestry and fishing",1266.666626,125.000000,1391.666626,Estonian,27,Male,0,0,0.90
254,A,No previous payments problems,127.823303,16.0,10,28,Education,14,Auction,Basic education,...,Info and telecom,416.666656,83.333336,500.000000,Estonian,18,Male,0,0,0.82
2010,A,Payments problems finished 24-36m ago,250.000000,28.0,6,1,Loan Consolidation,13,Auction,Basic education,...,Retail and wholesale,620.000000,120.000000,740.000000,Estonian,23,Male,0,0,0.88
1293,A,No previous payments problems,447.381500,10.0,24,28,Other,1,Quick auction,Secondary education,...,Other,1300.000000,0.000000,1300.000000,Estonian,28,Male,0,0,0.75
1644,A,No previous payments problems,1597.791260,40.0,24,11,Home Improvement,7,Auction,Secondary education,...,Education,233.250000,901.583313,1134.833374,Estonian,38,Woman,1,1,0.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1496,A,No previous payments problems,415.425690,25.0,3,1,Real-Estate,5,Auction,Secondary education,...,Other,0.000000,583.333313,583.333313,Estonian,29,Male,0,0,0.82
1779,A,Payments problems finished 6-12 m ago,1400.000000,34.0,6,20,Other,1,Auction,Secondary education,...,Construction,1855.000000,150.000000,2005.000000,Estonian,33,Male,0,0,0.89
1478,A,No previous payments problems,95.867500,30.0,6,12,Other,3,Quick auction,Basic education,...,Transport and warehousing,666.666687,0.000000,666.666687,Russian,33,Male,0,0,0.96
647,A,No previous payments problems,383.469910,40.0,6,27,Education,3,Auction,Basic education,...,Administrative,916.666687,0.000000,916.666687,Russian,22,Woman,1,0,0.74
91,A,No previous payments problems,319.558197,20.0,4,1,Other,3,Auction,Higher education,...,Fice and insurance,2000.000000,125.000000,2125.000000,Estonian,24,Male,0,0,0.98

In [21]:
model = finalize_model(best)